@use 'color';
@use 'fonts';
@use 'spacing';

.site-logo {
    align-items: center;
    color: color.$secondary-0;
    display: flex;
    font-weight: bold;
    gap: spacing.$content-gap-1;

    i {
        border: 0.1em solid color.$primary-0;
        border-radius: 6px;
        font-size: fonts.$fs-base-large-x;
        overflow: hidden;
        padding: 0.1em;
    }

    svg {
        color: #ececec;
    }
}
