.docsSideNav {
    border-inline-end: 0.0625rem solid hsl(var(--color-border));
    inline-size: 0;
    max-inline-size: var(--side-nav-width);
    min-inline-size: 0;
    overflow-x: clip;
    transition: min-inline-size 0.15s;
    will-change: min-inline-size;

    .sideNav {
        block-size: calc(100vh - var(--header-height));
        border: none;
        inline-size: var(--side-nav-width);
        opacity: 0;
        transition: opacity 0.15s;
        will-change: opacity;
    }

    &._open {
        min-inline-size: var(--side-nav-width);

        .sideNav {
            opacity: 1;
        }
    }
}
