@use 'color';
@use 'fonts';
@use 'media';
@use 'spacing';

.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: spacing.$content-gap-6;
    min-height: 100vh;
    padding-top: spacing.$content-gap-4;

    .page-actions {
        background-color: color.$bg-0;
        bottom: 0;
        box-shadow: 0 -5px 15px color.$drop-shadow-1;
        margin: auto 0 0;
        position: sticky;
        width: 100vw;
        z-index: 1;

        button {
            width: 100%;
        }
    }

    .tagline {
        align-items: center;
        color: color.$neutral-0;
        display: flex;
        flex-direction: column;
        font-size: fonts.$fs-base-large;
        gap: spacing.$content-gap-4;
        padding: 0 spacing.$content-gap-3;
        text-align: center;
        z-index: 1;
    }

    section {
        padding: 0 spacing.$content-gap-3;
    }
}

.site-logo {
    flex-direction: column;
    font-size: fonts.$fs-large-xx;
    line-height: 1;

    .subtitle {
        color: color.$primary-1;
        display: inline-block;
        font-size: fonts.$fs-small;
    }

    figcaption {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 240px;
        width: 240px;
    }
}
