.header {
    .headerCol1 {
        block-size: 2.5rem;
    }

    .topNav a {
        color: hsl(var(--brand-color-1));

        &:hover {
            text-decoration: underline;
        }

        &.socialLink {
            height: 20px;
        }
    }

    &:not(:has([class^='-col-3'], [class^='-col-4'])) {
        grid-template-areas: 'col-1 col-2';
    }
}

.homeHeroGraphic {
    mask-image: radial-gradient(circle at center, black 35%, transparent 70%);
}
