.header {
    .topNav a {
        color: hsl(var(--brand-color-1));

        &:hover {
            text-decoration: underline;
        }
    }

    &:not(:has([class^='-col-3'], [class^='-col-4'])) {
        grid-template-areas: 'col-1 col-2';
    }
}

.homeHeroGraphic {
    mask-image: radial-gradient(circle at center, black 35%, transparent 70%);
}
