@use 'sass:map';

$theme: 'dark';

/*
Dark theme color combos
-- bg / fg --
$color-1 / $color-0 AAA
$color-1 / $color-2 AAA
$color-1 / $color-3 AA
$color-1 / $color-4 AA
$color-1 / $color-8
$color-5 / $color-0
$color-6 / $color-0 AAA
$color-6 / $color-2 AA
$color-6 / $color-3 AA
$color-6 / $color-8 AA
$color-7 / $color-0

Light theme color combos
-- bg / fg --
$color-0 / $color-1
$color-0 / $color-5
$color-0 / $color-7
$color-8 / $color-1 AAA
$color-8 / $color-6 AA
*/

$color-0: #ececec;
$color-1: #1b1b1b;
$color-2: #f6921e; // links dark
$color-3: #f05a27; // links light
// $color-4: #ff75c6;
$color-4: #ff0095; // attention dark
$color-5: #90268e; // attention light
$color-6: #232323; // light
$color-7: #4d4d4d;
$color-8: #a6a6a6; // dark

// Branding
$bg-dark-0: $color-1;
$bg-light-0: $color-0;
$bg-dark-1: $color-6;
$bg-light-1: $color-8;
$bg-dark-2: $color-5;
$bg-light-2: $color-4;
$fg-dark-0: $color-1;
$fg-light-0: $color-0;
$fg-dark-1: $color-2;
$fg-light-1: $color-3;
$neutral-dark-0: $color-8;
$neutral-light-0: $color-7;
$neutral-dark-1: $color-7;
$neutral-light-1: $color-7;
$neutral-dark-2: $color-6;
$neutral-light-2: $color-8;
$primary-dark-0: $color-2;
$primary-light-0: $color-3;
$primary-dark-1: $color-4;
$primary-light-1: $color-5;
$primary-dark-2: $color-3;
$primary-light-2: $color-5;
$secondary-dark-0: $color-0;
$secondary-light-0: $color-1;
$text-dark-0: $color-0;
$text-light-0: $color-1;

$brand-colors: (
    'bg-dark-0': $bg-dark-0,
    'bg-light-0': $bg-light-0,
    'bg-dark-1': $bg-dark-1,
    'bg-light-1': $bg-light-1,
    'bg-dark-2': $bg-dark-2,
    'bg-light-2': $bg-light-2,
    'fg-dark-0': $fg-dark-0,
    'fg-light-0': $fg-light-0,
    'fg-dark-1': $fg-dark-1,
    'fg-light-1': $fg-light-1,
    'neutral-dark-0': $neutral-dark-0,
    'neutral-light-0': $neutral-light-0,
    'neutral-dark-1': $neutral-dark-1,
    'neutral-light-1': $neutral-light-1,
    'neutral-dark-2': $neutral-dark-2,
    'neutral-light-2': $neutral-light-2,
    'primary-dark-0': $primary-dark-0,
    'primary-light-0': $primary-light-0,
    'primary-dark-1': $primary-dark-1,
    'primary-light-1': $primary-light-1,
    'primary-dark-2': $primary-dark-2,
    'primary-light-2': $primary-light-2,
    'secondary-dark-0': $secondary-dark-0,
    'secondary-light-0': $secondary-light-0,
    'text-dark-0': $text-dark-0,
    'text-light-0': $text-light-0
);

@function pick-color($color-name: 'primary', $version: 0) {
    @return map.get($brand-colors, #{$color-name}-#{$theme}-#{$version});
}

$bg-0: pick-color('bg');
$bg-1: pick-color('bg', 1);
$bg-2: pick-color('bg', 2);
$fg-0: pick-color('fg');
$fg-1: pick-color('fg', 1);
$neutral-0: pick-color('neutral');
$neutral-1: pick-color('neutral', 1);
$neutral-2: pick-color('neutral', 2);
$primary-0: pick-color();
$primary-1: pick-color(
    $version: 1
);
$primary-2: pick-color(
    $version: 2
);
$secondary-0: pick-color('secondary');
$text-0: pick-color('text');

$drop-shadow-0: rgba(0, 0, 0, 0.15);
$drop-shadow-1: rgba(0, 0, 0, 0.2);
$drop-shadow-2: rgba(0, 0, 0, 0.25);
