$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';

$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';
$max-sml: 'max-width: 499px';
$max-med: 'max-width: 1365px';
$max-lrg: 'max-width: 1799px';
$min-sml: 'min-width: 500px';
$min-med: 'min-width: 1366px';
$min-lrg: 'min-width: 1800px';

$mobile-0: 320px; // default (mobile-first)
$mobile-1: 375px;
$mobile-2: 414px;
$mobile-landscape: (
        max-width: 896px
    )
    and ($landscape);
$tablet-0: 768px;
$desktop-0: 1024px;
$desktop-1: 1366px;
$desktop-2: 1440px;
$desktop-3: 1920px;
