@use 'color';
@use 'fonts';
@use 'media';
@use 'reset';

/*
 * Use only a HTML selectors for each definition.
 */

html,
body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

html {
    min-height: 100%;
}

body {
    color: color.$secondary-0;
    flex: 1 1 100%;
    font-family: fonts.$ff-pelinka;
    font-size: fonts.$fs-root;

    @media (media.$min-med) {
        font-size: fonts.$fs-root-dt;
    }
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
