@use 'borders';
@use 'fonts';
@use 'spacing';

.page-control {
    border: borders.$bw-0 solid currentColor;
    color: currentColor;
    cursor: pointer;
    font-size: fonts.$fs-base-med;
    margin: 0 auto;
    padding: spacing.$content-gap-3;
}
