@use 'fonts';
@use 'spacing';

.site-nav-button {
    background-color: transparent;
    border: none;
    color: currentColor;
    font-size: fonts.$fs-base-large-x;
    padding: spacing.$distance--1;

    svg {
        display: block;
    }
}
