@use 'color';
@use 'fonts';
@use 'spacing';

.page {
    padding: spacing.$content-gap-3;

    h1 {
        color: color.$primary-2;
        font-size: fonts.$fs-h1;
        text-align: center;
    }
}
