@use 'fonts/pelinka';

$ff-fallback: Arial, Helvetica, sans-serif;
$ff-pelinka-thin: 'Pelinka-Thin';
$ff-pelinka-light-x: 'Pelinka-ExtraLight';
$ff-pelinka-light: 'Pelinka-Light';
$ff-pelinka: 'Pelinka-Regular';
$ff-pelinka-md: 'Pelinka-Medium';
$ff-pelinka-semi: 'Pelinka-SemiBold';
$ff-pelinka-bold: 'Pelinka-Bold';
$ff-pelinka-bold-x: 'Pelinka-ExtraBold';

// Dictionary
// `-dt` = desktop

$fs-root: 16px;
$fs-root-dt: 18px;
$fs-small-xx: 0.8rem;
$fs-small-x: 0.9rem;
$fs-small: 1rem;
$fs-base: 1.3rem;
$fs-base-med: 1.4rem;
$fs-base-med-x: 1.6rem;
$fs-base-large: 1.8rem;
$fs-base-large-x: 2rem;
$fs-med: 2.5rem;
$fs-large: 3rem;
$fs-large-x: 4rem;
$fs-large-xx: 5rem;

$fs-h1: $fs-base-large;
$fs-h2: $fs-base-med-x;
$fs-h3: $fs-base-med;
$fs-h4: $fs-base;
