// Border Width
$bw-0: 1px;
$bw-1: 2px;
$bw-2: 3px;
$bw-3: 4px;
$bw-4: 5px;

// Border Radius
$br-0: 2px;
$br-1: 4px;
$br-2: 6px;
$br-3: 8px;
$br-4: 10px;
$br-5: 12px;
$br-6: 16px;
$br-7: 20px;
$br-8: 24px;
$br-9: 32px;
